<div>
  <div>
    <h1>
      new note
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
  

    <form action="/documents" method="post">
      <div>
        <label for="query_body"></label>
        <textarea id="query_body" name="query_body" rows="10" cols="150" placeholder = "your new note..."></textarea>
      </div>


      <div>
      <select id="document_id" name="document_id" required>
      <option value="" disabled selected>Choose your document</option>
      <!-- Dynamically populated options from the database -->
      <% Document.all.each do |document| %>
        <option value="<%= document.id %>"><%= document.title %></option>
      <% end %>
    </select>
      </div>

  

      <button>
        Add note
      </button>
    </form>
  </div>
</div>

<hr>

<p> See all documents or add a document <a href ="/documents"> here </a> </p>

<hr>
